/* .section__buttons {
    padding: 25px 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

@media (max-width: 600px) {
    .section__buttons {
        grid-template-columns: 1fr;
        padding: 15px 15px;
    }
} */
